// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cart-button {
  margin-bottom: 15px
}

.cart-imag {
  width: 10px;
  height: 5px;
}

.shop {
  margin-top: 20px;
}

.total {
  margin-top: 20px;
}

.d-flex {
  margin-top: 15px;
}