<div class="px-5 mx-5">
  <div class="mx-3"><h3 class="mb-5 mini-title">会員一覧</h3></div>
  <div class="row mx-5 px-5">

    <table class="table border-bottom">
      <thead class="thead-light">
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td>
              <%= customer.id %>
            </td>
            <td>
              <u><%= link_to customer.last_name+customer.first_name, admin_customer_path(customer), class:"text-dark" %></u>
            </td>
            <td>
              <%= customer.email %>
            </td>
            <td>
              <% if customer.active_for_authentication? %>
                <b class="text-success">有効</b>
              <% else %>
                <b class="text-muted">退会</b>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="d-flex justify-content-center">
  <%= paginate @customers, theme: 'twitter-bootstrap-4' %>
</div>
